@use 'tailwindcss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #fff;
  font-family: 'Elms Sans', sans-serif;
  overflow-x: clip;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #8a4fff;
  border-radius: 3px;
}

h1, h2, h3, h4 {
  font-family: 'Space Mono', monospace;
  word-spacing: -0.3em;
}
